<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <!-- card -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,100' rel='stylesheet' type='text/css'>
    <title>Document</title>
</head>
<style>
    .bg {
        background-color: black;
    }
    
    .carreaux_presentation_light {
        display: table-cell;
        margin-top: 50px;
        width: 200px;
        height: 200px;
        background-size: cover;
        overflow: hidden;
        position: relative;
    }
    
    .carreaux_presentation_light .shadow_swhow_mini {
        background-color: transparent;
        position: absolute;
        z-index: 1000;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    
    .carreaux_presentation_light:hover .shadow_swhow_mini {
        background-color: rgba(16, 23, 41, 0);
    }
    
    .carreaux_presentation_light .deroul_titre {
        position: absolute;
        text-transform: uppercase;
        font-family: 'Roboto';
        padding: 7px;
        z-index: 1000;
        top: 90%;
        left: -80%;
        color: #ffffff;
        font-weight: 300;
        font-size: 13px;
        width: 80%;
        -webkit-transition: all 0.7s;
        -moz-transition: all 0.7s;
        -ms-transition: all 0.7s;
        transition: all 0.7s;
    }
    
    .carreaux_presentation_light:hover .deroul_titre {
        background-color: #1e4944;
        left: 0px;
        top: 2px;
    }
    
    .carreaux_presentation_light .deroul_soustitre {
        position: absolute;
        font-family: 'Roboto';
        padding: 5px;
        z-index: 1000;
        top: 60%;
        right: -85%;
        margin-top: 25px;
        color: #ffffff;
        font-weight: 300;
        font-size: 11px;
        width: 80%;
        -webkit-transition: all 0.7s;
        -moz-transition: all 0.7s;
        -ms-transition: all 0.7s;
        transition: all 0.7s;
    }
    
    .carreaux_presentation_light:hover .deroul_soustitre {
        background-color: #417c74;
        right: 0px;
    }
    
    .simg {
        margin-top: 1.5em;
    }
    /* text css our speciality */
    
    @import url('https://fonts.googleapis.com/css?family=Playfair+Display:900');
    /* svg {
        background: #ebe7e0;
    } */
    
    text {
        fill: #35322a;
        filter: url('#money');
        font-family: 'Playfair Display', 'Georgia', serif;
        font-size: 90px;
        font-weight: 900;
        margin-top: -3em;
        margin-left: 1em;
        margin-bottom: -2em;
    }
    /* @media (max-width:300px) {
        .containerfor {
            margin-top: 5em;
            margin-left: 1rem;
            width: 30em;
            height: 30em;
        }
    } */
    
    @media screen {
        .containerfor {
            background-color: snow;
            margin-top: 5em;
            margin-bottom: 2em;
            border-radius: 10px;
            width: 25em;
            height: 25em;
            padding: 1em;
        }
    }
    
    .heading {
        margin-top: 2em;
        background-color: whitesmoke;
        font-size: 2em;
        text-align: center;
        font-family: fantasy;
    }
</style>


<body class="bg">
    <!-- nav bar starts -->
    <%-include("../partials/header") %>
        <!-- nav bar ends -->
        <!-- heading about me -->
        <div class="container">
            <div class="row">
                <div class="col-lg-6 md-6 sm-12">
                    <div class="heading">About Me</div>
                    <span style="font-family: cursive; color: whitesmoke;">YUM YUMM is a resturent where you will get many suprises 
                        and food at low cost the quality of dishes will be greate and you all will definately love it
                        soo come and viste us once. You will get 10% discount on your first order.<br>
                        <center><u>MORE DETAILES <br> </u> </center>
                        Contact : 9654761870 <br>
                        Address : 13, south pate nagar, <br>
                        Gf near SBI Bank
                        Opposite to pillor 199,<br>
                        New Delhi-110008
                  
                    </span>
                </div>
                <div class="col-lg-6 md-6 sm-12">
                    <div class="containerfor">
                        <center class="forpic"><img src="/assets/images/image43.jpg" style="margin-top: -75px; margin-bottom: -20em; border-radius: 30px;"></center>
                    </div>
                </div>
            </div>
        </div>



        <!-- heading ends -->



        <svg width='100' height='5'>
            <filter id='money'>
                <feMorphology in='SourceGraphic' operator='dilate' radius='2' result='expand' />
    
                <feOffset in='expand' dx='1' dy='1' result='shadow_1' />
                <feOffset in='expand' dx='2' dy='2' result='shadow_2' />
                <feOffset in='expand' dx='3' dy='3' result='shadow_3' />
                <feOffset in='expand' dx='4' dy='4' result='shadow_4' />
                <feOffset in='expand' dx='5' dy='5' result='shadow_5' />
                <feOffset in='expand' dx='6' dy='6' result='shadow_6' />
                <feOffset in='expand' dx='7' dy='7' result='shadow_7' />
    
                <feMerge result='shadow'>
                    <feMergeNode in='expand' />
                    <feMergeNode in='shadow_1' />
                    <feMergeNode in='shadow_2' />
                    <feMergeNode in='shadow_3' />
                    <feMergeNode in='shadow_4' />
                    <feMergeNode in='shadow_5' />
                    <feMergeNode in='shadow_6' />
                    <feMergeNode in='shadow_7' />
                </feMerge>
    
                <feFlood flood-color='#ebe7e0' />
                <feComposite in2='shadow' operator='in' result='shadow' />
    
                <feMorphology in='shadow' operator='dilate' radius='1' result='border' />
                <feFlood flood-color='#35322a' result='border_color' />
                <feComposite in2='border' operator='in' result='border' />
    
                <feOffset in='border' dx='1' dy='1' result='secondShadow_1' />
                <feOffset in='border' dx='2' dy='2' result='secondShadow_2' />
                <feOffset in='border' dx='3' dy='3' result='secondShadow_3' />
                <feOffset in='border' dx='4' dy='4' result='secondShadow_4' />
                <feOffset in='border' dx='5' dy='5' result='secondShadow_5' />
                <feOffset in='border' dx='6' dy='6' result='secondShadow_6' />
                <feOffset in='border' dx='7' dy='7' result='secondShadow_7' />
                <feOffset in='border' dx='8' dy='8' result='secondShadow_8' />
                <feOffset in='border' dx='9' dy='9' result='secondShadow_9' />
                <feOffset in='border' dx='10' dy='10' result='secondShadow_10' />
                <feOffset in='border' dx='11' dy='11' result='secondShadow_11' />
    
                <feMerge result='secondShadow'>
                    <feMergeNode in='border' />
                    <feMergeNode in='secondShadow_1' />
                    <feMergeNode in='secondShadow_2' />
                    <feMergeNode in='secondShadow_3' />
                    <feMergeNode in='secondShadow_4' />
                    <feMergeNode in='secondShadow_5' />
                    <feMergeNode in='secondShadow_6' />
                    <feMergeNode in='secondShadow_7' />
                    <feMergeNode in='secondShadow_8' />
                    <feMergeNode in='secondShadow_9' />
                    <feMergeNode in='secondShadow_10' />
                    <feMergeNode in='secondShadow_11' />
                </feMerge>
    
                <!-- <feImage x='0' y='0' width='600' height='200' xlink:href='https://s3-us-west-2.amazonaws.com/s.cdpn.io/78779/stripes.svg'/> -->
                <feComposite in2='secondShadow' operator='in' result='secondShadow' />
    
                <feMerge>
                    <feMergeNode in='secondShadow' />
                    <feMergeNode in='border' />
                    <feMergeNode in='shadow' />
                    <feMergeNode in='SourceGraphic' />
                </feMerge>
            </filter>
            <center style="background-color:white;">
                <text dominant-baseline='middle' text-anchor='middle' x='50%' y='50%'>
             Our Speciality 
            </text>
    
            </center>
    
            </svg>

        <!-- starting of the pictures container  -->
        <div class="container">
            <div class="row">
                <div class="col-lg-3 md-3">
                    <div align="center" class="fond">
                        <div class="carreaux_presentation_light">
                            <div class="simg">
                                <img src="/assets/images/image39.jpg ">
                                <div class="shadow_swhow_mini">
                                    <div class="deroul_titre">PURE CSS :HOVER</div>
                                    <div class="deroul_soustitre">www.wifeo.com/code</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 md-3">
                    <div align="center" class="fond">
                        <div class="carreaux_presentation_light">
                            <div class="simg">
                                <img src="/assets/images/image43 - Copy.jpg ">
                                <div class="shadow_swhow_mini">
                                    <div class="deroul_titre">PURE CSS :HOVER</div>
                                    <div class="deroul_soustitre">www.wifeo.com/code</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 md-3">
                    <div align="center" class="fond">
                        <div class="carreaux_presentation_light">
                            <div class="simg">
                                <img src="/assets/images/image36.jpg ">
                                <div class="shadow_swhow_mini">
                                    <div class="deroul_titre">PURE CSS :HOVER</div>
                                    <div class="deroul_soustitre">www.wifeo.com/code</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 md-3">
                    <div align="center" class="fond">
                        <div class="carreaux_presentation_light">
                            <div class="simg">
                                <img src="/assets/images/image37.jpg ">
                                <div class="shadow_swhow_mini">
                                    <div class="deroul_titre">PURE CSS :HOVER</div>
                                    <div class="deroul_soustitre">www.wifeo.com/code</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        </div>
        </div>

        <br>
        <!-- two row -->
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div align="center" class="fond">
                        <div class="carreaux_presentation_light">
                            <div class="simg">
                                <img src="/assets/images/image38.png ">
                                <div class="shadow_swhow_mini">
                                    <div class="deroul_titre">PURE CSS :HOVER</div>
                                    <div class="deroul_soustitre">www.wifeo.com/code</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div align="center" class="fond">
                        <div class="carreaux_presentation_light">
                            <div class="simg">
                                <img src="/assets/images/image34 - Copy.jpg">
                                <div class="shadow_swhow_mini">
                                    <div class="deroul_titre">PURE CSS :HOVER</div>
                                    <div class="deroul_soustitre">www.wifeo.com/code</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div align="center" class="fond">
                        <div class="carreaux_presentation_light">
                            <div class="simg">
                                <img src="/assets/images/image35.jpg ">
                                <div class="shadow_swhow_mini">
                                    <div class="deroul_titre">PURE CSS :HOVER</div>
                                    <div class="deroul_soustitre">www.wifeo.com/code</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div align="center" class="fond">
                        <div class="carreaux_presentation_light">
                            <div class="simg">
                                <img src="/assets/images/image40.jpg ">
                                <div class="shadow_swhow_mini">
                                    <div class="deroul_titre">PURE CSS :HOVER</div>
                                    <div class="deroul_soustitre">www.wifeo.com/code</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ending of the pictures container -->


        <br>

        </div>


        <%-include("../partials/footer") %>
            <!-- javascript of bootstrap5 -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

</body>

</html>