<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <title>Document</title>
</head>
<style>
    .bb {
        height: 100%;
        background-color: whitesmoke;
    }
    
    .d-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    
    .align-center {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    
    .flex-centerY-centerX {
        justify-content: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    
    body {
        background-color: whitesmoke;
    }
    
    .page-wrapper {
        height: 100%;
        display: table;
    }
    
    .page-wrapper .page-inner {
        display: table-cell;
        vertical-align: middle;
    }
    
    .el-wrapper {
        width: 360px;
        padding: 15px;
        margin: 15px auto;
        background-color: whitesmoke;
    }
    
    @media (max-width: 991px) {
        .el-wrapper {
            width: 345px;
        }
    }
    
    @media (max-width: 767px) {
        .el-wrapper {
            width: 290px;
            margin: 30px auto;
        }
    }
    
    .el-wrapper:hover .h-bg {
        left: 0px;
    }
    
    .el-wrapper:hover .price {
        left: 20px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        color: #818181;
    }
    
    .el-wrapper:hover .add-to-cart {
        left: 50%;
    }
    
    .el-wrapper:hover .img {
        webkit-filter: blur(7px);
        -o-filter: blur(7px);
        -ms-filter: blur(7px);
        filter: blur(7px);
        filter: progid: DXImageTransform.Microsoft.Blur(pixelradius='7', shadowopacity='0.0');
        opacity: 0.4;
    }
    
    .el-wrapper:hover .info-inner {
        bottom: 155px;
    }
    
    .el-wrapper:hover .a-size {
        -webkit-transition-delay: 300ms;
        -o-transition-delay: 300ms;
        transition-delay: 300ms;
        bottom: 50px;
        opacity: 1;
    }
    
    .el-wrapper .box-down {
        width: 100%;
        height: 60px;
        position: relative;
        overflow: hidden;
    }
    
    .el-wrapper .box-up {
        width: 100%;
        height: 300px;
        position: relative;
        overflow: hidden;
        text-align: center;
    }
    
    .el-wrapper .img {
        padding: 20px 0;
        -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
        -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
        -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
        transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
        /* ease-out */
        -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        /* ease-out */
    }
    
    .h-bg {
        -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
        -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
        -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
        transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
        /* ease-out */
        -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        /* ease-out */
        width: 660px;
        height: 100%;
        background-color: #3f96cd;
        position: absolute;
        left: -659px;
    }
    
    .h-bg .h-bg-inner {
        width: 50%;
        height: 100%;
        background-color: #464646;
    }
    
    .info-inner {
        -webkit-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
        -moz-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
        -o-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
        transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
        /* ease-out */
        -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        /* ease-out */
        position: absolute;
        width: 100%;
        bottom: 25px;
    }
    
    .info-inner .p-name,
    .info-inner .p-company {
        display: block;
    }
    
    .info-inner .p-name {
        font-family: 'PT Sans', sans-serif;
        font-size: 18px;
        color: #252525;
    }
    
    .info-inner .p-company {
        font-family: 'Lato', sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        color: #8c8c8c;
    }
    
    .a-size {
        -webkit-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
        -moz-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
        -o-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
        transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
        /* ease-out */
        -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        /* ease-out */
        position: absolute;
        width: 100%;
        bottom: -20px;
        font-family: 'PT Sans', sans-serif;
        color: #828282;
        opacity: 0;
    }
    
    .a-size .size {
        color: #252525;
    }
    
    .cart {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
    }
    
    .cart .price {
        -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
        -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
        -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
        transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
        /* ease-out */
        -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        /* ease-out */
        -webkit-transition-delay: 100ms;
        -o-transition-delay: 100ms;
        transition-delay: 100ms;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-size: 16px;
        color: #252525;
    }
    
    .cart .add-to-cart {
        -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
        -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
        -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
        transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
        /* ease-out */
        -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        /* ease-out */
        -webkit-transition-delay: 100ms;
        -o-transition-delay: 100ms;
        transition-delay: 100ms;
        display: block;
        position: absolute;
        top: 50%;
        left: 110%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    
    .cart .add-to-cart .txt {
        font-size: 12px;
        color: #fff;
        letter-spacing: 0.045em;
        text-transform: uppercase;
        white-space: nowrap;
    }
</style>

<body class="bb">
    <%-include("../partials/header") %>
        <div class="container page-wrapper">
            <div class="page-inner">
                <div class="row">
                    <div class="col-4">
                        <div class="el-wrapper">
                            <div class="box-up">
                                <img class="img" src="/assets/images/image2.jpg" height="100%" width="100%" alt="">
                                <div class="img-info">
                                    <div class="info-inner">
                                        <span class="p-name">Double Cheez Burger</span>
                                        <span class="p-company"></span>
                                    </div>
                                    <div class="a-size"> <span class="size"></span></div>
                                </div>
                            </div>

                            <div class="box-down">
                                <div class="h-bg">
                                    <div class="h-bg-inner"></div>
                                </div>

                                <a class="cart" href="ordercard">
                                    <span class="price">160 RS</span>
                                    <span class="add-to-cart">
                    <span class="txt">Add in cart</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="el-wrapper">
                            <div class="box-up">
                                <img class="img" src="/assets/images/image6.jpg" height="100% " width="100%" alt="">
                                <div class="img-info">
                                    <div class="info-inner">
                                        <span class="p-name"></span>
                                        <span class="p-company"></span>
                                    </div>
                                    <div class="a-size"> <span class="size"></span></div>
                                </div>
                            </div>

                            <div class="box-down">
                                <div class="h-bg">
                                    <div class="h-bg-inner"></div>
                                </div>

                                <a class="cart" href="ordercard">
                                    <span class="price">240 RS</span>
                                    <span class="add-to-cart">
                    <span class="txt">Add in cart</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="el-wrapper">
                            <div class="box-up">
                                <img class="img" src="/assets/images/image9.jpg" height="100%" width="100%" alt="">
                                <div class="img-info">
                                    <div class="info-inner">
                                        <span class="p-name">Cheese Cake</span>
                                        <span class="p-company"></span>
                                    </div>
                                    <div class="a-size"><span class="size"></span></div>
                                </div>
                            </div>

                            <div class="box-down">
                                <div class="h-bg">
                                    <div class="h-bg-inner"></div>
                                </div>

                                <a class="cart" href="ordercard">
                                    <span class="price">120 RS</span>
                                    <span class="add-to-cart">
                    <span class="txt">Add in cart</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="el-wrapper">
                            <div class="box-up">
                                <img class="img" src="/assets/images/image12.jpg" height="100%" width="100%" alt="">
                                <div class="img-info">
                                    <div class="info-inner">
                                        <span class="p-name">Taccos</span>
                                        <span class="p-company"></span>
                                    </div>
                                    <div class="a-size"> <span class="size"></span></div>
                                </div>
                            </div>

                            <div class="box-down">
                                <div class="h-bg">
                                    <div class="h-bg-inner"></div>
                                </div>

                                <a class="cart" href="ordercard">
                                    <span class="price">180 RS</span>
                                    <span class="add-to-cart">
                    <span class="txt">Add in cart</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="el-wrapper">
                            <div class="box-up">
                                <img class="img" src="/assets/images/image13.jpg" height="100%" width="100%" alt="">
                                <div class="img-info">
                                    <div class="info-inner">
                                        <span class="p-name">Backed Patato's</span>
                                        <span class="p-company"></span>
                                    </div>
                                    <div class="a-size"> <span class="size"></span></div>
                                </div>
                            </div>

                            <div class="box-down">
                                <div class="h-bg">
                                    <div class="h-bg-inner"></div>
                                </div>

                                <a class="cart" href="ordercard">
                                    <span class="price">200 RS</span>
                                    <span class="add-to-cart">
                    <span class="txt">Add in cart</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="el-wrapper">
                            <div class="box-up">
                                <img class="img" src="/assets/images/image18.jpg" height="100%" width="100%" alt="">
                                <div class="img-info">
                                    <div class="info-inner">
                                        <span class="p-name">Avacado Salad </span>
                                        <span class="p-company"></span>
                                    </div>
                                    <div class="a-size"> <span class="size"></span></div>
                                </div>
                            </div>

                            <div class="box-down">
                                <div class="h-bg">
                                    <div class="h-bg-inner"></div>
                                </div>

                                <a class="cart" href="ordercard">
                                    <span class="price">250 RS</span>
                                    <span class="add-to-cart">
                    <span class="txt">Add in cart</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="el-wrapper">
                            <div class="box-up">
                                <img class="img" src="/assets/images/image27.jpg" height="100%" width="100%" alt="">
                                <div class="img-info">
                                    <div class="info-inner">
                                        <span class="p-name">Vegetable Soup</span>
                                        <span class="p-company"></span>
                                    </div>
                                    <div class="a-size"><span class="size"></span></div>
                                </div>
                            </div>

                            <div class="box-down">
                                <div class="h-bg">
                                    <div class="h-bg-inner"></div>
                                </div>

                                <a class="cart" href="ordercard">
                                    <span class="price">120 RS </span>
                                    <span class="add-to-cart">
                    <span class="txt">Add in cart</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="el-wrapper">
                            <div class="box-up">
                                <img class="img" src="/assets/images/image32.jpg" height="100%" width="100%" alt="">
                                <div class="img-info">
                                    <div class="info-inner">
                                        <span class="p-name">Tamato Soup</span>
                                        <span class="p-company"></span>
                                    </div>
                                    <div class="a-size"> <span class="size"></span></div>
                                </div>
                            </div>

                            <div class="box-down">
                                <div class="h-bg">
                                    <div class="h-bg-inner"></div>
                                </div>

                                <a class="cart" href="ordercard">
                                    <span class="price">120 RS</span>
                                    <span class="add-to-cart">
                    <span class="txt">Add in cart</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="el-wrapper">
                            <div class="box-up">
                                <img class="img" src="/assets/images/image34.jpg" height="100%" width="100%" alt="">
                                <div class="img-info">
                                    <div class="info-inner">
                                        <span class="p-name">Dal Makhni</span>
                                        <span class="p-company"></span>
                                    </div>
                                    <div class="a-size"> <span class="size"></span></div>
                                </div>
                            </div>

                            <div class="box-down">
                                <div class="h-bg">
                                    <div class="h-bg-inner"></div>
                                </div>

                                <a class="cart" href="#">
                                    <span class="price">200 RS</span>
                                    <span class="add-to-cart">
                    <span class="txt">Add in cart</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <%-include("../partials/footer") %>